html
  head
    title email
  body
    if noms
      h1 Found #{noms.length} restaurants!
      each nom in noms
        p
          a(href=nom.url)= nom.name
          img(src=nom.rating_img_url_small)
    else
      h1 No restaurants found. May we suggest Chipotle?
    if defaultQuery
      p We didn't see a cuisine and location request, so we used the default, pizza in Denver.
      p Be sure to include it on its own line and format it as "{cuisine} in {location}"!
