extends layout

block content
  h1 Welcome to mealbot!
  p To try this out, send an email to a friend and cc noms@mealbot.json.bz
  p Be sure to include the friend in the to: field.
  p You and your friend will each receive one email with suggestion(s).
